APP_BASE_URL=https://otus.muoviamo.fi
APP_STORAGE_KEY=muoviotukset.v1
ANDROID_RELEASE_ENABLED=false
ANDROID_RELEASE_URL=https://github.com/andrebalza/muoviotusten-maailmanvalloitus/releases/latest
PIWIGO_BASE_URL=https://otus.muoviamo.fi/gallery
PIWIGO_USERNAME=
PIWIGO_PASSWORD=
PIWIGO_CATEGORY_ID=
PIWIGO_TAGS=muoviotukset,plastic-creatures
